.imgban{
    height :700px;
    width:100%; 
     object-fit:cover;
      object-Position:50% 55%;
      @media (max-width:1700px){
        height:600px;
    }
      @media (max-width:1200px){
          height:500px;
      }
      @media (max-width:800px) {
          height:400px
      }
}
.svgfill {
    width: 70px;
    height: 70px;
  }
  .svgfill:hover {
    fill: rgb(84, 166, 187);
  }
.jsicon{
    width:70px;height:70px; fill:pink;
}
.jsicon:hover{
    fill:blue;
}
  