#profileimg{
    border:1px solid white; 
    
    // display:block;
    // margin:0 auto;
     //height:200px;
     //width:200px;

    // object-fit: cover;
}
.profilecontainer{
  
}
.profilepic{
 width: 50%;
 //margin:10px;
 margin-left: 25%;
 margin-bottom: 10%;
 margin-top: 3%;
@media screen and (max-width:1024px) {
    width:70%;
    margin-left:15%;
}
}
.profileflex{

    display:flex; 
    flex-direction:column;
    gap: 10px;
    justify-content: center;

    
    // flex-grow: 1;
    // flex-basis: 0;
    // @media screen and (max-width:800px) {
    //     flex-direction: row;
    // }

}