.section{
    text-align:center;
}
.aboutcontainer{
    width: 50%;
    padding-left: 5%;
    padding-right:  5%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.title{
    font-size: large;
    font-weight: bold;
    padding-bottom: 1%;
}
.text{
    font-size: medium;
}
