.bordercontainer{
    // padding: 45px;
    width: 50%;
    padding-left: 5%;
    padding-right:  5%;
    padding-top: 3%;
    padding-bottom: 3%;
    
    @media screen and (max-width:800px) {
        width:100%;
        padding-left: 10%;
        padding-right:  10%;
       
        padding-bottom: 10%;
        // position: absolute; left: 50%; top: 50%;
        // transform: translate(-50%, -50%);
    }
   
}

.boxborder{
    border: 5.5px solid rgb(201, 34, 159,.7);
    // width: 40vw;
    // height: 20vw;
    width: auto;
    height: auto;
   // background-color: white;
    color:#48bfe3;
    box-shadow: 0px 0px 30px 10px rgb(201, 34, 159);
    @media  screen and (max-width:800px) {
       
    }
}
.skillstitle{
    
    
    padding-bottom: 5%;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    padding-top: 2%;
    @media screen and (max-width:800px){
        font-size: 20px;
    }
    
}
.iconscontainer{
    // display:grid;
    max-width: 800px;
    margin: 0 auto;
    column-width: 14em;
    column-gap: 2em;
    column-rule: 1px solid #ccc;
    
    
}
.flex-grid {
    display: flex;
  }
  .flex-grid .col {
    
    flex: 1;
    flex-direction:column;
    flex-basis: 100%;
  }
.flexparent{
    display:flex;
    flex-flow:row wrap;
}
.row{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
// s