.bordercontainer{
    // padding: 45px;
    width: 50%;
    padding-left: 5%;
    padding-right:  5%;
    padding-top: 3%;
    padding-bottom: 3%;
   
}

.boxborder{
    border: 5.5px solid rgb(119, 4, 90);
    // width: 40vw;
    // height: 20vw;
    width: auto;
    height: auto;
   // background-color: white;
    color:#48bfe3;
}
.skillstitle{
    
    
    padding-bottom: 1%;
}
.textbox{
 
}
.iconscontainer{
    display:grid;
    
}
// s