$text-color: #48bfe3;
body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background-color: black;
 

}
@media screen and (max-width: 800px) {
  body {
      padding: 10px 10px;
  }
}
a{
  text-decoration:none;
color:white;
}
*{
  box-sizing:border-box;
}
